.background {
  background-image: url(https://wallpaperaccess.com/full/461236.jpg);
  height: 106vh;
  width: 100vw;
}

.buttons {
  font-family: Louis George Cafe Light;
  color: #f2f2f2;
  background-color: #313131;
  border-radius: 2.5px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}

.options {
  font-family: Louis George Cafe Light;
  background-color: #313131;
  color: #f5f5f5;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 5px;
}

.create {
  font-family: Louis George Cafe Light;
  background-color: #313131;
  color: #f5f5f5;
  border-radius: 2.5px;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
}
