.input {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Louis George Cafe Light;
  background-color: #313131;
  color: #f2f2f2;
  width: 150px;
}

.button {
  margin-left: 5px;
  margin-right: 5px;
  font-family: Louis George Cafe Light;
  background-color: #313131;
  color: #f2f2f2;
}
